
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    font-family: "Roboto", sans-serif;
}


body {
    padding: 1% 4%;
}


.title {
    font-size: 28px;
    text-align: center;
}


/* Form */
.form {
    margin: 2% 0;
}

.form input {
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    display: inline;
    font-size: 88%; 
    outline: 0;
    padding: 1%;
    width: 88%;    
}

.form input:focus {
    border: 1px solid red;
}

.form button {
    border: 0;
    background-color: navy;
    border-radius:4px;
    color: white;
    cursor: pointer;
    display: inline;
    float: right;
    font-size: 16px;    
    outline: 0;
    padding: 1%;
    transition: all 1.5s;
    transition-delay: 0.05s;
    width: 9%;
}

.form button:hover {
    background-color: blue;
    transition: all 1.5s;
    transition-delay: 0.05s;
}  


/* Table */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr:nth-child(even) {
    background-color: rgba(100, 150, 250, 0.300);
}

.table th {
    border-bottom: 1px solid black;
    height: 30px;
}     

.table td {
    height: 30px;
}

#th-id, #td-id {
    text-align: center;
    width: 3%;
}

#th-tarefas, #td-tarefas {
    padding: 0 0 0 1%;
    text-align: left;
}

#th-deletar, #td-deletar {
    text-align: center;
    width: 9%;    
}

#td-deletar a {
    color: red;
    text-decoration: none;
}